<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="csrf-token" content="<%- csrfToken %>" />

  <title>Document</title>
</head>
<script src="https://cdn.tailwindcss.com"></script>

<body>
  <div class="app">
    <%- include('navbar') %>
    <main class="content-box">
      <h1 class="text-4xl">
        <%= session ? "Editing " : "New " + sport.name %> Session
      </h1>
      <form id="session_form" method="post">
        <input type="hidden" name="_csrf" value="<%= csrfToken %>" />

        <section class="form-wrapper my-4 border border-blue-500 p-4 rounded">
          <div class="mt-4">
            <label for="schedule" class="block mb-2 text-sm text-gray-600 dark:text-gray-200">When will be this sport session be held?</label>
            <input type="datetime-local" min="<%- new Date().toISOString().split('.')[0].slice(0,16) %>" id="schedule" name="schedule" value="<%- session ?  session.schedule.toISOString().split('.')[0] : '' %>" required="required" class="w-full px-4 py-2 text-gray-700 bg-white border border-gray-200 rounded-lg dark:bg-gray-900 dark:text-gray-300 dark:border-gray-600 focus:border-primary dark:focus:border-primary focus:outline-none focus:ring focus:ring-primary dark:placeholder-gray-400 focus:ring-opacity-20" />
          </div>
          <div class="mt-4">
            <label for="venue" class="block mb-2 text-sm text-gray-600 dark:text-gray-200">Where will this session be Played?</label>
            <input type="text" id="venue" name="venue" value="<%- session ? session.venue : '' %>" required="required" class="w-full px-4 py-2 text-gray-700 bg-white border border-gray-200 rounded-lg dark:bg-gray-900 dark:text-gray-300 dark:border-gray-600 focus:border-primary dark:focus:border-primary focus:outline-none focus:ring focus:ring-primary dark:placeholder-gray-400 focus:ring-opacity-20" />
          </div>
          <div class="mt-4">
            <label for="players" class="block mb-2 text-sm text-gray-600 dark:text-gray-200">Who all will be joining you in this Session?
              (Comma-seperated)</label>
            <div class="my-2 flex" id="show-players-name"></div>
            <select id="playerSelectDropdown" value onchange="setPlayers(<%-  'this.value'  %>)" class="w-full px-4 py-2 text-gray-700 bg-white border border-gray-200 rounded-lg dark:bg-gray-900 dark:text-gray-300 dark:border-gray-600 focus:border-primary dark:focus:border-primary focus:outline-none focus:ring focus:ring-primary dark:placeholder-gray-400 focus:ring-opacity-20">
              <option value="">-- Select an option --</option>
              <% for (i=0; i< users.length; i++) { %>
              <option value="<%= JSON.stringify(users[i].dataValues) %>" id="option<%= i %>">
                <%= users[i].firstname + ' ' + users[i].lastname %>
              </option>
              <% } %>
            </select>
            <input id="players" value="" name="players" hidden />
            <!-- <input
                type="text"
                id="players"
                name="players"
                placeholder="Eg: Virat,Mahi,Rohit,Chris,Saurav"
                value="<%- session ? session.players : '' %>"
                required="required"
                class="w-full px-4 py-2 text-gray-700 bg-white border border-gray-200 rounded-lg dark:bg-gray-900 dark:text-gray-300 dark:border-gray-600 focus:border-primary dark:focus:border-primary focus:outline-none focus:ring focus:ring-primary dark:placeholder-gray-400 focus:ring-opacity-20"
              /> -->
          </div>
          <div class="mt-4">
            <label for="extraPlayercount" class="block mb-2 text-sm text-gray-600 dark:text-gray-200">How many more players you need?</label>
            <input type="text" id="extraPlayercount" name="extraPlayercount" value="<%- session ? session.extraPlayercount : '' %>" required="required" class="w-full px-4 py-2 text-gray-700 bg-white border border-gray-200 rounded-lg dark:bg-gray-900 dark:text-gray-300 dark:border-gray-600 focus:border-primary dark:focus:border-primary focus:outline-none focus:ring focus:ring-primary dark:placeholder-gray-400 focus:ring-opacity-20" />
          </div>
          <div class="mt-8">
            <div class="w-full px-4 py-2 text-center cursor-pointer tracking-wide transition-colors duration-300 transform bg-primary hover:bg-primary/70 focus:outline-none focus:bg-primary/70 bg-blue-500 text-white" onclick="submitform( <%- session ? sport.id +`,`+ session.id : '' %>)">
              <%- session ? 'Update' : 'Create' %> Session
            </div>
          </div>
        </section>
      </form>
    </main>
  </div>
</body>

<script>
  <% data = `{ "players": [] }` %>
  localStorage.setItem("players", <%- typeof sessionPlayers !== 'undefined' ? JSON.stringify(sessionPlayers) : JSON.stringify(data) %>);
  generateHtml()
  window.onload = disableOptions()
  if (localStorage.players !== undefined) {
    if (JSON.parse(localStorage.players).players.length == 0)
      // set current user in LS
      setPlayers('<%- JSON.stringify(user.dataValues) %>')
  }
  console.log(<%- JSON.stringify(user.dataValues) %>)

  function submitform(sportId = "#", sessionId = "#") {
    var schedule = document.getElementById("schedule").value;
    console.log(schedule === "")
    if (schedule === "")
      return 0;
    if (
      sportId === "#" &&
      sessionId === "#"
    ) {
      document.getElementById("players").value =
        localStorage.getItem("players");

      console.log(document.getElementById("players").value);
      // localStorage.removeItem("players")
      document.getElementById("session_form").submit();
    } else {
      var schedule = document.getElementById("schedule").value;
      var venue = document.getElementById("venue").value;
      var epc = document.getElementById("extraPlayercount").value;
      var token = document
        .querySelector('meta[name="csrf-token"]')
        .getAttribute("content");


      var players = document.getElementById("players").value;
      players = JSON.parse(localStorage.getItem("players"));
      // console.log(players)
      // localStorage.removeItem("players")

      fetch(`/sports/${sportId}/session/${sessionId}`, {
          method: "put",
          credentials: "same-origin", // <-- includes cookies in the request
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify({
            schedule: schedule,
            venue: venue,
            players: players,
            epc: epc,
            _csrf: token,
          }),
        })
        .then((response) => {
          if (response.ok)
            window.location.href = `/sports/${
                sportId + "/session/" + sessionId
              }`;
        })
        .catch((error) => console.error(error));
    }
  }

  function removePlayer(eltIdtoRemove) {

    players = JSON.parse(localStorage.getItem("players"))["players"].filter((e, i) => i !== eltIdtoRemove)
    players = {
      players: players
    }
    localStorage.setItem("players", JSON.stringify(players))
    generateHtml()
    disableOptions()
  }

  function generateHtml() {

    const html = JSON.parse(localStorage.getItem("players"))["players"].map(
      (e, i) => `<p class="border rounded p-1 border-blue-500">
                  ${e.firstname} ${e.lastname}<span onclick="removePlayer( ${i} )" class="mx-1 rounded-lg px-2 py-1/2 cursor-pointer bg-gray-400 text-white" >x</span></p>`
    );
    // console.log(html.join(","));
    document.getElementById("show-players-name").innerHTML = html.join(",");
  }
  // data = { players: [] }
  // localStorage.setItem("players", JSON.stringify(data));
  // console.log( JSON.parse(localStorage.players).includes(<%- JSON.stringify(users[0].dataValues) %>) )
  // console.log(<%#= (sessionPlayers).includes(JSON.stringify(users[0].dataValues))  %>)


  function disableOptions() {
    if (localStorage.length != 1) {
      return
    }

    const select = document.getElementById("playerSelectDropdown")
    const options = select.getElementsByTagName('option')
    const obj = JSON.parse(localStorage.players).players
    let lsdata = obj.map(e => JSON.stringify(e))
    for (i = 0; i < options.length; i++) {
      console.log(lsdata.includes(options[i].value))
      lsdata.includes(options[i].value) ?
        options[i].setAttribute("disabled", "") : options[i].removeAttribute("disabled")
    }

    select.setAttribute("value", options[0].innerHTML)

  }

  function setPlayers(playerData) {
    const existingData = JSON.parse(localStorage.players);
    existingData["players"].push(JSON.parse(playerData));

    localStorage.setItem("players", JSON.stringify(existingData));
    disableOptions()
    generateHtml()
  }
</script>

</html>